/* styles.css */
body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

header {
  background-color: #333;
  color: white;
  padding: 10px 20px;
  text-align: center;
}

nav ul {
  list-style: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 10px;
}

nav ul li a {
  color: white;
  text-decoration: none;
}

footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px;
  position: fixed;
  width: 100%;
  bottom: 0;
}

.films-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.film-card {
  background-color: white;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  width: 200px;
  text-align: center;
}

.film-card img {
  width: 100%;
  border-radius: 5px;
}

.film-info h3 {
  font-size: 18px;
}

button {
  background-color: #ff9900;
  border: none;
  padding: 10px;
  cursor: pointer;
  width: 100%;
  margin-top: 5px;
  border-radius: 5px;
}

button:hover {
  background-color: #e68900;
}
